body {
  padding-top: 50px;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  margin-bottom: 0;
}

.page-content {
  /*background-color: #f7f7f7;*/
}

.project {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.project-img {
  margin: 0 auto;
}
