body {
  padding: 2.5em;
  font-family: 'Roboto', sans-serif !important;
}
.jumbo {
  background-color: #f3f3f3;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}
.jumbo-title {
  font-weight: bold;
}
.jumbo-subtitle {
  font-weight: lighter;
  margin-bottom: 1em;
}
.jumbo-img {
  width: 100%;
  border-radius: 0 0 6px 6px;
}
