/*
 * === Color Palette ===
 *
 * pink:       #FFEDDE
 * light blue: #A4C8D4
 * blue:       #575C74
 * red:        #CF5041
 * black:      #0D1F24
 */

body {
  padding-top: 50px;
  color: #0D1F24;
  font-family: 'Khula', sans-serif;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background-color: #FFF;
  border-bottom: 3px solid #A4C8D4;
}

.navbar-brand {
  font-weight: 600;
}

.jumbotron {
  margin-bottom: 0;
  background-color: #CF5041;
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: 0 1px 4px dimgrey;
}

.about {
  display: flex;
  flex-wrap: wrap;
}

.about-title {
  font-family: 'Barrio', cursive;
  font-size: 2.8em;
  text-align: center;
  word-wrap: break-word;
  min-width: 0;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.about-title-line2 {
  font-size: 1.5em;
}

.about-title-line3 {
  font-size: 0.7em;
}

.about-image {
  max-width: 250px;
  margin: 0 auto;
  align-self: center;
}

.about-image img {
  border: 6px solid white;
}

.portfolio {
  margin-top: 4em;
}

.project {
  margin-bottom: 4em;
}

.project-img {
  margin: 0 auto;
}

.project-title {
  font-size: 22px;
  font-weight: 600;
}

.label-default {
  background-color: #575C74;
}

@media screen and (min-width: 576px) {
  .about-title {
    font-size: 3.5em;
  }
}

@media screen and (min-width: 768px) {
  .about-title {
    align-self: center;
    margin-bottom: 0;
    max-width: 60%;
  }
}
