/*
 * === Color Palette ===
 *
 * pink:       #FFEDDE
 * light blue: #A4C8D4
 * blue:       #575C74
 * red:        #CF5041
 * black:      #0D1F24
 */

body {
  padding-top: 50px;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  margin-bottom: 0;
  background-color: #CF5041;
  color: #0D1F24;
}

.about img {
  border: 6px solid white;
}

.project {
  padding-top: 5em;
  padding-bottom: 3em;
}

.project-img {
  margin: 0 auto;
}
